/* ///////////////////////////////////////////////////////// */
/* Global */
.page-container {
  width: 100vw;
  height: 100vh;
}


/* //////////////////////////////////////////////////////// */
/* Landing / Login / Sign-up pages: common elements */

.intro-page-container {
  width: 100vw;
  height: 100vh;
}

.back-button {
  margin: 1% 0% 0% 2%;
  border-radius: 90px;
  background: none;
  width: 120px;
  height: 35px;
}

.intro-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.welcome-text {
  font-size: 16px;
  margin-bottom: 2%;
}

.join-sign-up-buttons {
  border-style: none;
  width: 120px;
  height: 35px;
  border-radius: 90px;
  color: white;
  background-color: black;
  margin-top: 5%;
}

.intro-form-submit {
  border-style: none;
  width: 120px;
  height: 35px;
  border-radius: 90px;
  color: white;
  background-color: black;
  margin-top: 10%;
}

.intro-logo {
  font-size: 55px;
}

::placeholder {
  text-align: center;
}

.intro-blurb {
 font-size: 13px;

}

/* /////////////////////////////////////////////////////////////////////// */
/* Landing / Login / Sign-up Pages */

/* landing page */

.sign-in-button {
  border-style: solid;
  width: 120px;
  height: 35px;
  border-radius: 90px;
  background: none;
  margin: 1% 0% 0% 85%;
}

/* Login page */

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-form-input {
  margin-bottom: 5%;
  border-style: none none solid none;
}

/* Sign up credentials page */

.sign-up-creds-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sign-up-form-input {
  margin-bottom: 5%;
  border-style: none none solid none;
}

/* Sign up add Photo page */

.airplane-photo {
  background-color: rgb(177, 177, 177);
  width: 7rem;
  height: 10.5rem;
  border-radius: 60px;
  border-style: none;
  margin-top: 2.5%;
}

.airplane-photo:hover {
  background-color: purple;
}

/* Sign up add Interests page */

.interests-blurb {
  font-size: 25px;
  margin-top: 1%;
}

.interests-form-container-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.interests-form-container {
  margin-top: 2%;
  width: 30%;
  text-align: center;
}

.interests-form {
  width: 100%;
}

.interests-input {
  margin-right: 8%;
}

.interests-form-label {
  width: 32%;
  text-align: left;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Header */

.header {
  width: 100%;
  height: 8%;
  background-color: black;
}

.home-logo {
  font-size: 34px;
  color: white;
  line-height: 0.6;
  padding: 0.5% 0 0 6%;
}

.slogan-text {
  font-size: 12px;
  color:white;
  padding: 0 0 0 6.5%;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Home Page */

.user-list-container {
  margin-top: 5%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.user-list {
  display: flex;
  flex-direction: column;
}

.home-photo {
  background-color: rgb(177, 177, 177);
  width: 3rem;
  height: 5rem;
  border-radius: 60px;
  border-style: none;
  margin-top: 2.5%;
}

.user-card {
  display: flex;
  padding: 2% 3%;
  margin-bottom: 2%;
  border-radius: 30px;
  box-shadow: 0px 3px 3px 0px gray;
}

.user-card-name {
  font-size: 15px;
  margin-bottom: 4%;
}

.user-info-container {
  width: 60%;
  padding: 1% 0% 0% 3%;
}

.user-card-buttons-container {
  width: 20%;
  display: flex;
  align-items: flex-end;
  margin-left: 12%;
  padding: 0% 0% 1% 2%;
}
.user-card-no {
  width: 40px;
  height: 40px;
  border-radius: 60%;
  margin-right: 6%;
  border: none;
  background-color: gray;
}
.user-card-yes {
  width: 40px;
  height: 40px;
  border-radius: 60%;
  border: none;
  background-color: gray;
}
.user-card-no:hover {
  background-color: rgb(207, 33, 33);
}
.user-card-yes:hover {
  background-color: rgb(27, 207, 27);
}
.fa-check {
  color: rgb(206, 206, 206);
}
.fa-times {
  color: rgb(206, 206, 206);
}
.user-card-yes:hover > .fa-check { color: white}
.user-card-no:hover > .fa-times { color: white}
