/* Login / Sign-up pages: common elements */

.intro-page-container {
  width: 100vw;
  height: 100vh;
}

.back-button {
  margin: 2% 0% 0% 2%;
  border-radius: 90px;
  background: none;
  width: 100px;
}

.intro-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}

.welcome-text {
  font-size: 16px;
}

.join-sign-up-buttons {
  border-style: none;
  width: 120px;
  height: 35px;
  border-radius: 90px;
  color: white;
  background-color: black;
}

.sign-up-logo {

}

::placeholder {
  text-align: center;
}

.intro-blurb {
 font-size: 13px;

}

/* landing page */

.login-button {
  margin: 1% 0% 0% 90%;
  border-style: solid;
  border-radius: 90px;
  background: none;
  width: 100px;
}

/* Login page */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-input {
  margin-bottom: 5%;
  border-style: none none solid none;
}

/* Sign up credentials page */

.sign-up-creds-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sign-up-form-input {
  margin-bottom: 5%;
  border-style: none none solid none;
}

/* Sign up add Photo page */

.airplane-photo {
  background-color: rgb(177, 177, 177);
  width: 7rem;
  height: 10.5rem;
  border-radius: 60px;
  border-style: none;
}

.airplane-photo:hover {
  background-color: purple;
}

/* Sign up add Interests page */

.interests-form {
  color: blue;
}
