/* ///////////////////////////////////////////////////////// */
/* Global */
.page-container {
  width: 99vw;
  height: 90%;
  /* background-color: #ffa112; */
  background-image: linear-gradient(to top, #ffa112, #fdd598);
}

.footer {
  height: 100px;
  background-color: #1c556a;
}

/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* Landing / Login / Sign-up pages: common elements */

.intro-page-container {
  width: 100vw;
  height: 100vh;
}

.back-button {
  margin: 1% 0% 0% 2%;
  border-radius: 90px;
  background: none;
  width: 120px;
  height: 35px;
}

.intro-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.welcome-text {
  font-size: 16px;
  margin-bottom: 2%;
}

.join-sign-up-buttons {
  border-style: none;
  width: 120px;
  height: 35px;
  border-radius: 90px;
  color: white;
  background-color: black;
  margin-top: 5%;
}

.intro-form-submit {
  border-style: none;
  width: 120px;
  height: 35px;
  border-radius: 90px;
  color: white;
  background-color: black;
  margin-top: 10%;
}

.intro-logo {
  font-size: 55px;
}

/* ::placeholder {
  text-align: center;
} */

.intro-blurb {
 font-size: 13px;

}

/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* Landing / Login / Sign-up Pages */

/* landing page */

.sign-in-button {
  border-style: solid;
  width: 120px;
  height: 35px;
  border-radius: 90px;
  background: none;
  margin: 1% 0% 0% 85%;
}

/* Login page */

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-form-input {
  margin-bottom: 5%;
  border-style: none none solid none;
}

/* Sign up credentials page */

.sign-up-creds-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sign-up-form-input {
  margin-bottom: 5%;
  border-style: none none solid none;
}

.sign-up-form-input::placeholder {
  text-align: center;
}

/* Sign up add Photo page */

.airplane-photo {
  background-color: rgb(177, 177, 177);
  width: 7rem;
  height: 10.5rem;
  border-radius: 60px;
  border-style: none;
  margin-top: 2.5%;
}

.airplane-photo:hover {
  background-color: purple;
}

/* Sign up add Interests page */

.interests-blurb {
  font-size: 25px;
  margin-top: 1%;
}

.interests-form-container-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.interests-form-container {
  margin-top: 2%;
  width: 30%;
  text-align: center;
}

.interests-form {
  width: 100%;
}

.interests-input {
  margin-right: 8%;
}

.interests-form-label {
  width: 32%;
  text-align: left;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* Header */

.header {
  width: 100%;
  height: 8%;
  background-color: black;
}

.home-logo {
  font-size: 34px;
  color: white;
  line-height: 0.6;
  padding: 0.5% 0 0 6%;
}

.slogan-text {
  font-size: 12px;
  color:white;
  padding: 0 0 0 6.5%;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/* Home Page */

/* //////////////////////////////////////////////////////////////////////// */
/* Home Top Row */
.home-top-row {
  display: flex;
  /* justify-content: center; */
}

.travelx-logo {
  margin: 3% 0 0 3%;
  font-size: 35px;
}

.add-trip-bar {
  width: 40%;
  /* height: 5%; */
  margin: 3% 0 0 4.5%;
  /* padding: 0 0 0 2%; */
  /* display: flex;
  justify-content: center; */
}

.add-trip-form {
  background-color: white;
  border-radius: 60px;
  width: 100%;
  display: flex;
  padding-left: 6%;
  /* justify-content: left; */
}

.add-trip-input-container {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 25%;
  margin-left: 3%;
}

.add-trip-input-label {
  padding-left: 2px;
}

.add-trip-input {
  border: none;
  background: none;
}

.home-page-option-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 3% 0 0 12%;
  border-radius: 20px;
  width: 14%;
  padding: 1.5% 0 1.5% 0%;
}

.home-page-option-button {
  border: none;
  background-color: white;
  width: 80%;
  border-radius: 20px;
  text-align: left;
  margin: 3% 0 2% 11%;
}

.home-page-option-spacer {
  background-color: rgb(204, 204, 204);
  width: 100%;
  height: 1px;
  margin: 8% 0;
}

/* .fa-user-circle {
  height: 20px;
} */

/* ///////////////////////////////////////////////////////////////////// */
/* Home Page My Trips */

.my-trips-container-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.my-trips-container {
  width: 80%;
  /* height: 8rem; */
  margin-top: 2%;
  /* background-color: white; */
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.my-trips-carousel {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.my-trips-title {
  /* margin-right: 63%; */
  font-size: 18px;
}

.trip-card-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 3px 0px gray;
  width: 100px;
  height: 7rem;
  margin: 1% 5% 0 0;
}

.trip-info-container {
  padding: 15%;
}

/* /////////////////////////////////////////////////////////////////// */
/* Home Page Connections Container - All */

.connections-container {
  display: flex;
  margin-top: 4%;
}

/* /////////////////////////////////////////////////////////////////// */
/* Home Page Filters */

.filters-container {
  width: 30%;
  margin-left: 5%;
}

.filters-title {
  font-size: 18px;
  margin-left: 35%;
}

.filters-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 57%;
  padding: 5%;
  border-radius: 20px;
  margin-left: 33%;
}

/* ////////////////////////////////////////////////////////////// */
/* Home Page Recommended Users */

.user-list-container {
  width: 30%;
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  margin-right: 3%;
}

.user-list-title {
  font-size: 18px;
  margin-left: 6%;
}

.user-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-photo {
  background-color: rgb(177, 177, 177);
  width: 3rem;
  height: 5rem;
  border-radius: 60px;
  border-style: none;
  margin-top: 2.5%;
}

.user-card {
  /* display: flex; */
  padding: 2% 3%;
  margin-bottom: 2%;
  border-radius: 20px;
  background-color: white;
  /* box-shadow: 0px 3px 3px 0px gray; */
}

.user-photo-and-info-container {
  display: flex;
}

.user-info-container {
  width: 60%;
  padding: 1% 0% 0% 3%;
}

.user-card-name {
  font-size: 15px;
  margin-bottom: 4%;
}

.user-card-buttons-container {
  display: flex;
  justify-content: center;
  /* padding: 0% 0% 1% 2%; */
  margin: 2% 0 2% 0;
}
.user-card-no {
  width: 40px;
  height: 40px;
  border-radius: 60%;
  margin-right: 2%;
  border: none;
  background-color: #fa6d75;
}
.user-card-yes {
  width: 40px;
  height: 40px;
  border-radius: 60%;
  border: none;
  background-color: #30c3b2;
}
/* .user-card-no:hover {
  background-color: rgb(207, 33, 33);
}
.user-card-yes:hover {
  background-color: rgb(27, 207, 27);
} */
.fa-check {
  color: white;
}
.fa-times {
  color: white;
}
/* .user-card-yes:hover > .fa-check { color: white}
.user-card-no:hover > .fa-times { color: white} */

/* ////////////////////////////////////////////////////////////////////////// */
/* Home User Matches */

/* .matches-container {

} */

.matches-list-title {
  font-size: 18px;
  margin-left: 5%;
}

.matches-list {
  width: 50%;
}

.user-match-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  border-radius: 20px;
  background-color: white;
}

.user-match-photo-and-info-container {
  display: flex;
  margin: 3% 3% 2% 3%;
}

.user-match-info-container {
  padding: 1% 0% 0% 3%;
}

.user-match-message-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #1c556a;
  border-radius: 0px 0px 20px 20px;
  padding: 1.5% 0 3% 0;
}

.user-match-message-button {
  border-style: none;
  width: 50%;
  font-size: 12px;
  background-color: #1c556a;
  color: white;
}
